{%    extends 'base.html'   %}
{%   block content   %}
{% load static   %}
<br>
<br>

<!-- Normal Breadcrumb Begin -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="normal__breadcrumb__text">
                        <h2>Поздравляем с активацией</h2>
                        <br>
                        <a href="home">Вернуться на главную страницу</a>
                        <br>
                        <br>
                        <img src="{% static 'img/congr.jpg'  %}">
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Normal Breadcrumb End -->
<br>
{%   endblock content %}