{%    extends 'base.html'   %}
{%   block content   %}

<section class="login spad">
<div class="container">
    <div class="row">
        <div class="col-lg-6">
                <h2 style="color: white" >Создайте новый пароль</h2>
                <br>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
        <button type="submit" class="site-btn" >Сохранить</button>
                </form>
        </div>
    </div>
</div>
</section>

{%   endblock content %}