{%    extends 'base.html'   %}
{%   block content   %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="normal__breadcrumb__text">
                        <br>
                        <br>
                        <h2>Восстановление пароля</h2>
                        <p>Добро пожаловать в аниме блог</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Normal Breadcrumb End -->
<br>


<!-- Login Section Begin -->
<section class="login spad">
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="login__form">
                <h3>Восстановление пароля</h3>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="site-btn" >Отправить</button>
                </form>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="login__register">
                <h3>Хотите создать новый аккаунт ?</h3>
                <a href="{% url 'sign-up' %}" class="site-btn">Зарегистрируйтесь сейчас</a>
            </div>
        </div>
    </div>
</div>
</section>
    <!-- Login Section End -->
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

{%   endblock content %}