{%    extends 'base.html'   %}
{% load static %}
{%   block content   %}

 <!-- Normal Breadcrumb Begin -->
<section class="normal-breadcrumb set-bg" data-setbg="{% static 'img/main-b.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="normal__breadcrumb__text">
                    <h2>Вход в аккаунт</h2>
                    <p>Добро пожаловать в аниме блог</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Normal Breadcrumb End -->

<!-- Login Section Begin -->
<section class="login spad">
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="login__form">
                <h3>Войти</h3>
                <form method="post" enctype="multipart/form-data">
                    {%csrf_token%}
                    {{form.as_p}}
                    <button type="submit" class="site-btn">Войти</button>
                </form>
                <a href="{% url 'forgot-password' %}" class="forget_pass">Забыли свой пароль?</a>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="login__register">
                <h3>Нет аккаунта</h3>
                <a href="{% url 'sign-up' %}" class="site-btn">Зарегистрируйтесь сейчас</a>
            </div>
        </div>
    </div>
</div>
</section>
    <!-- Login Section End -->
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{%   endblock content %}
