{%  extends 'base.html'   %}
{% load static %}
{% block content %}

<!-- Normal Breadcrumb Begin -->
<section class="normal-breadcrumb set-bg" data-setbg="{% static 'img/main-b.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="normal__breadcrumb__text">
                    <h2>Регистрация</h2>
                    <p>Добро пожаловать в аниме блог</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Normal Breadcrumb End -->

<!-- SignUp Section Begin -->
<section class="login spad">
<div class="container">
    <div class="row">
        <div class="col-lg-6">
                <h2 style="color: white" >Регистрация</h2>
                <br>
                <form method="post" enctype="multipart/form-data">
                    {{form.as_p}}
                    {%csrf_token%}
                    <button type="submit" class="site-btn">Регистрация</button>
                </form>
        </div>
    </div>
</div>
</section>
<!-- SignUp Section End -->

{%  endblock content  %}