{% extends 'base.html' %}
{% load static  %}
{% block content  %}

  <!-- Hero Section Begin -->
    <section class="hero">
        <div class="container">
            <div class="hero__slider owl-carousel">
                {% for category in categories %}
                <div class="hero__items set-bg" data-setbg="{% static 'img/itachi.jpg' %}">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hero__text">
                                <div class="label">Приключения</div>
                                <h2>{{ category }}</h2>
                                <p>{{ category.description|truncatewords:10  }}</p>
                                <a href="{% url 'category' category.slug %}"><span>Узнать больше</span> <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor  %}
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="live__product">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8">
                                <div class="section-title">
                                    <h4>Аниме</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="btn__all">
                                    <a href="{% url 'category-list'  %}" class="primary-btn">Весь список аниме<span class="arrow_right"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            {% for category in categories   %}
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__text">
                                        <a href="{% url 'category' category.slug %}" ><img src="{{ category.image.url  }}"></a>
                                        <h5><a href="{% url 'category' category.slug %}">{{ category.name  }}</a></h5>
                                    </div>
                                </div>
                            </div>
                            {% endfor    %}
                        </div>
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-sm">
                                {%  if page_obj.has_previous  %}
                                <li class="page-item"><a class="page-link" href="{% url 'home' %}?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
                                {% endif %}
                                <li class="page-item active" aria-current="page">
                                <span class="page-link">{{ page_obj.number  }}</span>
                                </li>
                                {% if page_obj.has_next  %}
                                <li class="page-item"><a class="page-link" href="{% url 'home' %}?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>

<!-- Product Section End -->

{% endblock content   %}
