{% extends 'base.html' %}
{% block content  %}
<section class="login spad">
<div class="container">
    <div class="row">
        <div class="col-lg-6">
                <h2 style="color: white">Добавить персонажа</h2>
                <br>
                <form method="post" enctype="multipart/form-data" style="color: white" >
                            {% csrf_token %}
                            {{ form.as_p }}
                    <button type="submit" class="site-btn">Создать</button>
                </form>
        </div>
    </div>
</div>
</section>
<!-- SignUp Section End -->
{% endblock content  %}
