{% extends 'base.html' %}
{% load static   %}
{% block content %}
<!-- Normal Breadcrumb Begin -->
<section class="normal-breadcrumb set-bg" data-setbg="{% static 'img/normal-breadcrumb.jpg'  %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="normal__breadcrumb__text">
                    <h2>Наш Блог</h2>
                    <p>Добро пожаловать на наш официальный блог</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Normal Breadcrumb End -->

<!-- Blog Section Begin -->
<section class="blog spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="row">
                    {% for blog in blogs %}
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="blog__item set-bg" data-setbg="{{ blog.image.url }}">
                            <div class="blog__item__text">
                                <p><span class="icon_calendar"></span>{{ blog.created_on }}</p>
                                <h4><a href="{% url 'blog-detail' blog.slug  %}">{{ blog.title }}</a></h4>
                                <br>
                                <a href="{% url 'blog-detail' blog.slug  %}" class="site-btn">Узнать больше</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Section End -->

{% endblock content %}
